// Rename this file to http-client.private.env.json and update the values to match your environment.
{
  "local": {
    "host": "localhost",
    "port": 8090,
  },
  "dev": {
    "host": "e01.streever.local",
    "port": 8090,
  }

}